# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Logs
*.log
npm-debug.log*

# Node (ถ้าเพิ่ม build tool ภายหลัง)
node_modules/
dist/
.env
.env.local

# build tools
ประกวด/node_modules/
ประกวด/package.json
ประกวด/package-lock.json
